div.absolute{
    position: absolute;
    bottom: 20px;
    width: 50%;
    border: 3px solid red;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}